services:
  samba:
    image: dperson/samba:latest
    container_name: samba
    
    # Using custom network instead of host mode
    networks:
      - samba_default
    
    # ADD THESE PORT MAPPINGS:
    ports:
      - "139:139"
      - "445:445"
      - "137:137/udp"
      - "138:138/udp"
    
    environment:
      - USERID=$SAMBA_PUID   
      - GROUPID=$SAMBA_PGID
      - TZ=$TZ
      - WORKGROUP=HOMELAB
      
    volumes:
      - $HOST_DISK_1_PATH:$SHARE_1_PATH:rw
      - $HOST_DISK_2_PATH:$SHARE_2_PATH:rw
      
    command: |
      -u "$ADMIN_USER;$ADMIN_PASS" -u "$GUEST_USER;$GUEST_PASS" -s "$SHARE_1_NAME;$SHARE_1_PATH;yes;no;no;@$SHARE_1_USERS" -s "$SHARE_2_NAME;$SHARE_2_PATH;yes;no;no;$SHARE_2_USERS" -p
    
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

networks:
  samba_default:
    driver: bridge
